spring:
  application:
    name: mod-marc-migrations
  datasource:
    hikari:
      connectionTimeout: ${DB_CONNECTION_TIMEOUT:30000}
      idleTimeout: ${DB_IDLE_TIMEOUT:600000}
      keepaliveTime: ${DB_KEEPALIVE_TIME:0}
      maxLifetime: ${DB_MAX_LIFETIME:1800000}
      validationTimeout: ${DB_VALIDATION_TIMEOUT:5000}
      maximumPoolSize: ${DB_MAXPOOLSIZE:10}
      minimumIdle: ${DB_MINIMUM_IDLE:10}
      initializationFailTimeout: ${DB_INITIALIZATION_FAIL_TIMEOUT:30000}
      leakDetectionThreshold: ${DB_LEAK_DETECTION_THRESHOLD:60000}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_DATABASE:okapi_modules}
    password: ${DB_PASSWORD:folio_admin}
    username: ${DB_USERNAME:folio_admin}
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
  cloud:
    openfeign:
      okhttp:
        enabled: true
  jackson:
    default-property-inclusion: non_empty

folio:
  environment: ${ENV:folio}
  okapi-url: ${OKAPI_URL:http://localhost:9130}
  system-user:
    username: ${SYSTEM_USER_USERNAME:mod-marc-migrations}
    password: ${SYSTEM_USER_PASSWORD}
    lastname: MARC Migrations
    permissionsFilePath: permissions/mod-marc-migrations-permissions.csv
  tenant:
    validation:
      enabled: true
  logging:
    request:
      enabled: true
    feign:
      enabled: true
  migration:
    chunk-size: ${RECORDS_CHUNK_SIZE:50}
    chunk-fetch-ids-count: ${CHUNK_FETCH_IDS_COUNT:500}
    chunk-persist-count: ${CHUNK_PERSIST_COUNT:1000}
    chunk-processing-max-parallelism: ${CHUNK_PROCESSING_MAX_PARALLELISM:4}

management:
  endpoints:
    web:
      exposure:
        include: info,health,liquibase,threaddump,heapdump,loggers
      base-path: /admin
  endpoint:
    loggers:
      enabled: true
server.port: 8081
