spring:
  application:
    name: mod-marc-migrations
  profiles:
    default: "prod"
  threads:
    virtual:
      enabled: true
  datasource:
    hikari:
      connectionTimeout: ${DB_CONNECTION_TIMEOUT:30000}
      idleTimeout: ${DB_IDLE_TIMEOUT:600000}
      keepaliveTime: ${DB_KEEPALIVE_TIME:0}
      maxLifetime: ${DB_MAX_LIFETIME:1800000}
      validationTimeout: ${DB_VALIDATION_TIMEOUT:5000}
      maximumPoolSize: ${DB_MAXPOOLSIZE:10}
      minimumIdle: ${DB_MINIMUM_IDLE:10}
      initializationFailTimeout: ${DB_INITIALIZATION_FAIL_TIMEOUT:30000}
      leakDetectionThreshold: ${DB_LEAK_DETECTION_THRESHOLD:60000}
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_DATABASE:okapi_modules}
    password: ${DB_PASSWORD:folio_admin}
    username: ${DB_USERNAME:folio_admin}
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
  jackson:
    default-property-inclusion: non_empty
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: never
  cache:
    cache-names:
      - mapping-metadata-cache
    caffeine:
      spec: maximumSize=500,expireAfterWrite=600s

folio:
  environment: ${ENV:folio}
  okapi-url: ${OKAPI_URL:http://localhost:9130}
  system-user:
    enabled: ${SYSTEM_USER_ENABLED:false}
    username: ${SYSTEM_USER_USERNAME:mod-marc-migrations}
    password: ${SYSTEM_USER_PASSWORD}
    lastname: MARC Migrations
    permissionsFilePath: permissions/mod-marc-migrations-permissions.csv
  exchange:
    enabled: true
  tenant:
    validation:
      enabled: true
  logging:
    request:
      enabled: true
    exchange:
      enabled: true
  migration:
    chunk-size: ${RECORDS_CHUNK_SIZE:500}
    chunk-fetch-ids-count: ${CHUNK_FETCH_IDS_COUNT:500}
    chunk-persist-count: ${CHUNK_PERSIST_COUNT:1000}
    chunk-processing-max-parallelism: ${CHUNK_PROCESSING_MAX_PARALLELISM:4}
    chunk-retrying-max-ids-count: ${CHUNK_RETRYING_MAX_IDS_COUNT:1000}
    s3-local-sub-path: ${S3_LOCAL_SUB_PATH:mod-marc-migrations}
    s3-sub-path: ${S3_SUB_PATH:mod-marc-migrations}
    job-retention-days: ${JOB_RETENTION_DAYS:7}
  remote-storage:
    endpoint: ${S3_URL:https://s3.amazonaws.com}
    region: ${S3_REGION:us-west-2}
    bucket: ${S3_BUCKET}
    accessKey: ${S3_ACCESS_KEY_ID:}
    secretKey: ${S3_SECRET_ACCESS_KEY:}
    awsSdk: ${S3_IS_AWS:false}
    retryCount: ${S3_RETRY_COUNT:3}
    retryDelayMs: ${S3_RETRY_DELAY_MS:500}

management:
  endpoints:
    web:
      exposure:
        include: info,health,liquibase,threaddump,heapdump,loggers
      base-path: /admin
  endpoint:
    loggers:
      access: unrestricted
server.port: 8081


---

spring:
  config:
    activate:
      on-profile: dev
logging:
  level:
    org.folio.spring.filter.IncomingRequestLoggingFilter: debug
    org.folio.marc.migrations.client.MappingMetadataClient: debug
